<div id="books-index">

  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>Ruby on Rails Power</h3>
      <%= image_tag('covers/Ruby on Rails Power.jpg') %>
      <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Ajax on Rails</h3>
      <%= image_tag('covers/Ruby on Rails Power.jpg') %>
      <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Beginning PHP5</h3>
      <%= image_tag('covers/Ruby on Rails Power.jpg') %>
      <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Head First PHP</h3>
      <%= image_tag('covers/Ruby on Rails Power.jpg') %>
      <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-3">
      <h3>HTML5 Trainer</h3>
      <%= image_tag('covers/Ruby on Rails Power.jpg') %>
      <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>HTML5 & CSS3</h3>
      <%= image_tag('covers/Ruby on Rails Power.jpg') %>
      <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>PHP Cookbook</h3>
      <%= image_tag('covers/Ruby on Rails Power.jpg') %>
      <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Ruby on Rails Tutorial</h3>
      <%= image_tag('covers/Ruby on Rails Power.jpg') %>
      <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
    </div>
  </div>

</div>