<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : 'Welcome' %> | The Bookstore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= params[:controller] == 'books' ? 'active' : '' %>">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= params[:controller] == 'about' ? 'active' : '' %>">
          <%= link_to 'About', about_path, class: 'nav-link'  %>
        </li>
    </div>
    <div  class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
        <li class="nav-item dropdown">
          <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
          <ul class="dropdown-menu justify-content-end" role="menu" aria-labelledby="menu1">
            <li><%= link_to 'Book', new_book_path, class:'dropdown-item' %></li>
            <li><%= link_to 'Category', new_category_path, class:'dropdown-item' %></li>
            <li><%= link_to 'Author', new_author_path, class:'dropdown-item' %></li>
            <li><%= link_to 'Publisher', new_publisher_path, class:'dropdown-item' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <header>
    <div class="container-fluid">
      <h1>The Bookstore <small><%= @page_title ? @page_title : 'Welcome' %></small></h1>
    </div>
  </header>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4">
          <% render 'partials/sidebar' %>
        </div>
      </div>

    </div>
  </section>


  </body>
</html>
